@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.light
{
    --Background: #f1f8fc;

    --Cor1: #2B1B2E;
    --Cor2: #54344D;
    --Cor3: #B89E95;
    --Cor4: #705444;

    --Escuro1: #312f3a;
    --Escuro2: #45424b;
}

.dark
{
    --Background: #312f3a;

    --Cor1: #958599;
    --Cor2: #cab9c6;
    --Cor3: #B89E95;
    --Cor4: #705444;

    --Escuro1: #f1f8fc;
    --Escuro2: #cfd5d8;
}

/* -=-=-=-=-=-=-=-=-=-= NAVBAR -=-=-=-=-=-=-=-=-=-= */

body
{
    font-family: 'Poppins', sans-serif;
}

.stop-scrolling
{
    height: 100%;
    overflow: hidden;
}

img
{
    width: 100%;
}

a
{
    text-decoration: none;
}

.big-wrapper
{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--Background);
    display: flex;
    flex-direction: column;
}

.container
{
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

header
{
    position: relative;
    z-index: 70 !important;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay
{
    display: none;
}

.logo
{
    cursor: pointer;
}

.logo h3
{
    color: var(--Escuro1);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

.links ul
{
    display: flex;
    list-style: none;
    align-items: center;
}

.links a
{
    color: var(--Escuro2);
    margin-left: 4.5rem;
    display: inline-block;
}

.menu-icon
{
    display: none;
}

/* -=-=-=-=-=-=-=-=-=-= LANDING PAGE -=-=-=-=-=-=-=-=-=-= */

a.btn
{
    width: 120px;
    height: 30px;
    background-color: var(--Cor2);
    padding: 15px;
    color: var(--Background);
    border-radius: 5px;
    transition: 0.5s ease;
}

a.btn:hover
{
    background-color: var(--Cor1);
}

.showcase-area .container
{
    /* Nese caso: 1fr = 50% */

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.big-title
{
    font-size: 1.4rem;
    color: var(--Escuro1);
    text-transform: capitalize;
    line-height: 1.4;
}

.big-title h2
{
    font-size: 1.6rem;
    color: var(--Cor2);
}

.left .text 
{
    color: var(--Escuro2);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
}

img.main-image 
{
    margin: 90px 0px 0px 90px;
}

/* -=-=-=-=-=-=-=-=-=-= BOTÕES TEMA CLARO/ESCURO -=-=-=-=-=-=-=-=-=-= */

.toggle-btn
{
    display: inline-block;
    border: navajowhite;
    background-color: var(--Cor2);
    color: var(--Background);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

.toggle-btn i
{
    line-height: 39px;
}

.toggle-btn:hover
{
    background-color: var(--Cor1);
}

.big-wrapper.light .toggle-btn i:last-child
{
    display: none;
}

.big-wrapper.light .toggle-btn i:first-child
{
    display: block;
}

.big-wrapper.dark .toggle-btn i:last-child
{
    display: block;
}

.big-wrapper.dark .toggle-btn i:first-child
{
    display: none;
}

.copy
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    animation: appear 1s 1 both;
}

@keyframes appear
{
    0%
    {
        clip-path: circle(30% at -25% -25%);
    }

    100%
    {
        clip-path: circle(150% at 0 0);
    }
}

/* -=-=-=-=-=-=-=-=-=-= ABOUT ME -=-=-=-=-=-=-=-=-=-= */

.about-me, .contact-us
{
    padding-bottom: 50px;
    background-color: var(--Background);
}

.about-me img.main-image
{
    width: 450px;
}

.about-me .big-title
{
    margin-bottom: 20px;
}

.about-me .big-title h1
{
    color: var(--Cor1);
}

/* -=-=-=-=-=-=-=-=-=-= CONTATO -=-=-=-=-=-=-=-=-=-= */

.contact-us a
{
    color: var(--Escuro1);
    text-decoration: none;
}

.contact-us img
{
    width: 500px;
}

.contact-us .big-title 
{
    margin-bottom: 20px;
    padding-left: 10px;
}

.social-content 
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.social-content p
{
    padding-left: 20px;
    font-size: 18px;
}

.social-media 
{
    background: var(--Cor2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.social-media i
{
    color: var(--Background);
    font-size: 20px;
}


/* -=-=-=-=-=-=-=-=-=-= RESPONSIVIDADE -=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 1400px)
{

    .about-me img.main-image
    {
        margin: 90px 0px 0px 90px;
    }

    img.main-image 
    {
        margin: 90px 0px 0px 20px;
    }
}

@media screen and (max-width: 980px) 
{
    /* -=-=-=-=-=-=-=-=-=-= CONTATO -=-=-=-=-=-=-=-=-=-= */
    .contact-us img
    {
        width: 100%;
    }   
}

@media screen and (max-width: 870px)
{

    /* -=-=-=-=-=-=-=-=-=-= ICONE DO MENU RESPONSIVO -=-=-=-=-=-=-=-=-=-= */

    .menu-icon
    {
        position: relative;
        z-index: 99;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .menu-icon .bar
    {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: var(--Cor1);
        border-radius: 3px;
        transition: 0.5s;
    }

    .bar::before, .bar::after
    {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--Cor1);
        border-radius: 3px;
        transition: 0.5s;
    }

    .bar::before
    {
        transform: translateY(-8px);
    }

    .bar::after
    {
        transform: translateY(8px);
    }

    .big-wrapper.active .menu-icon .bar
    {
        background-color: transparent;
    }

    .big-wrapper.active .bar::before
    {
        transform: translateY(0) rotate(-45deg);
    }

    .big-wrapper.active .bar::after
    {
        transform: translateY(0) rotate(45deg);
    }

    /* -=-=-=-=-=-=-=-=-=-= RESPONSIVIDADE DO MENU -=-=-=-=-=-=-=-=-=-= */

    .menu-icon
    {
        display: flex;
    }

    .links
    {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        background-color: var(--Cor2);
        z-index: 95 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .links ul
    {
        flex-direction: column;
    }

    .links a
    {
        color: white;
        margin-left: 0;
        padding: 2rem 0;
    }

    .links .btn
    {
        background-color: none;
    }

    .overlay
    {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }

    .big-wrapper.active .links
    {
        transform: translateX(0);
        box-shadow: 0 0 50px 2px rgb(0 0 0 / 36%);
    }

    .big-wrapper.active .overlay
    {
        pointer-events: all;
        opacity: 1;
    }

    /* -=-=-=-=-=-=-=-=-=-= RESPONSIVIDADE DO SHOWCASE -=-=-=-=-=-=-=-=-=-= */

    .showcase-area .container
    {
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem;
    }

    .showcase-area
    {
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;
    }

    .big-title
    {
        font-size: 1.1rem;
    }

    .text
    {
        font-size: .95rem;
        margin: 1.4rem 0 1.5rem;
    }

    .social-media p
    {
        font-size: .95rem;
        margin: 1.4rem 0 1.5rem;
    }

    img.main-image 
    {
        margin: 0px;
    }

    .main-image
    {
        width: 100%;
        transform: none;
    }

    .logo h3
    {
        font-size: 1.25rem;
    }

        /* -=-=-=-=-=-=-=-=-=-= CONTATO -=-=-=-=-=-=-=-=-=-= */
        .contact-us img
        {
            width: 500px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        } 

}  

@media screen and (max-width: 760px)
{
    /* -=-=-=-=-=-=-=-=-=-= RESPONSIVIDADE DO SHOWCASE -=-=-=-=-=-=-=-=-=-= */ 

    .about-me img.main-image
    {
        margin: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 530px) 
{
    .contact-us img
    {
        width: 100%;
        padding: 30px;
    }   
}

@media screen and (max-width: 470px)
{
    .container
    {
        padding: 0 1.5rem;
    }

    .big-title
    {
        font-size: 0.9rem;
    }

    .text
    {
        margin: 1.1rem 0 1.5rem;
    }

    .showcase-area .btn
    {
        font-size: 0.8rem;
    }

    .social-content p 
    {
        padding-left: 10px;
        font-size: 16px;
    }
}